body {
    background-color: #9BDDFF;
}
.ww-wedding-announcement {
    font-size: xx-large;
    text-shadow: 2px;
}
#events-input {
    height: 8.5rem;
    padding: .2rem !important;
}

.dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
  
    .dropdown-list {
      padding: 12px;
      background: #fff;
      position: absolute;
      top: 30px;
      left: 2px;
      right: 2px;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
      transform-origin: 50% 0;
      transform: scale(1, 0);
      transition: transform .15s ease-in-out .15s;
      max-height: 66vh;
      overflow-y: scroll;
    }
    
    .dropdown-option {
      display: block;
      padding: 2rem 1rem;
      margin: 1rem;
      transition: opacity .15s ease-in-out;
    }
    
    .dropdown-label {
      display: block;
      height: 30px;
      background: #fff;
      border: 1px solid #ccc;
      padding: 1rem 1rem;
      line-height: 1;
      cursor: pointer;
      
      &:before {
        content: '▼';
        float: right;
      }
    }
    
    &.on {
     .dropdown-list {
        transform: scale(1, 1);
        transition-delay: 0s;
        
        .dropdown-option {
          opacity: 1;
          transition-delay: .2s;
        }
      }
      
      .dropdown-label:before {
        content: '▲';
      }
    }
    
    [type="checkbox"] {
      position: relative;
      top: -1px;
      margin-right: 4px;
    }
  }
  /* Code developed by @authors jdw and danday74 on StackOverflow */
  /* https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css */
  input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 1.5rem;
  }

  #qrCode {
    padding: 2rem;
    width: 50%;
  }